In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key
from config import g_key

In [2]:
# Store the csv you created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kendari,ID,2022-04-17 17:41:24,-3.9450,122.4989,74.35,96,100,2.28
1,1,Nuuk,GL,2022-04-17 17:41:24,64.1835,-51.7216,29.01,80,100,15.01
2,2,Carnarvon,AU,2022-04-17 17:41:24,-24.8667,113.6333,68.07,88,100,14.97
3,3,Yar-Sale,RU,2022-04-17 17:41:25,66.8333,70.8333,13.06,94,86,7.76
4,4,Paamiut,GL,2022-04-17 17:41:25,61.9940,-49.6678,29.41,77,100,3.91

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [9]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [15]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]

humidity = city_data_df["Humidity"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]

clouds = city_data_df["Cloudiness"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]

wind = city_data_df["Wind Speed"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [23]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
9,9,Acarau,BR,2022-04-17 17:41:27,-2.8856,-40.1200,83.84,75,65,11.41
13,13,Galle,LK,2022-04-17 17:41:28,6.0367,80.2170,81.91,77,84,5.39
18,18,Puerto Madero,MX,2022-04-17 17:41:30,14.7208,-92.4215,87.49,63,69,13.40
22,22,Vaini,TO,2022-04-17 17:41:03,-21.2000,-175.2000,77.16,94,75,4.61
25,25,Bathsheba,BB,2022-04-17 17:41:32,13.2167,-59.5167,84.81,61,75,21.85
27,27,Yaan,NG,2022-04-17 17:41:32,7.3833,8.5667,89.62,51,61,11.79
28,28,Rikitea,PF,2022-04-17 17:41:33,-23.1203,-134.9692,78.22,68,2,13.02
31,31,Cockburn Town,TC,2022-04-17 17:41:33,21.4612,-71.1419,80.56,74,75,17.27
32,32,Butaritari,KI,2022-04-17 17:41:34,3.0707,172.7902,81.32,75,17,11.99
37,37,Riyadh,SA,2022-04-17 17:39:07,24.6877,46.7219,82.54,13,0,11.34

In [24]:
# Check for null values.
preferred_cities_df.count()

City_ID       180
City          180
Country       180
Date          180
Lat           180
Lng           180
Max Temp      180
Humidity      180
Cloudiness    180
Wind Speed    180
dtype: int64

In [25]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()

hotel_df["Hotel Name"] = ""

hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
9          Acarau      BR     83.84  -2.8856  -40.1200
13          Galle      LK     81.91   6.0367   80.2170
18  Puerto Madero      MX     87.49  14.7208  -92.4215
22          Vaini      TO     77.16 -21.2000 -175.2000
25      Bathsheba      BB     84.81  13.2167  -59.5167
27           Yaan      NG     89.62   7.3833    8.5667
28        Rikitea      PF     78.22 -23.1203 -134.9692
31  Cockburn Town      TC     80.56  21.4612  -71.1419
32     Butaritari      KI     81.32   3.0707  172.7902
37         Riyadh      SA     82.54  24.6877   46.7219

In [28]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [31]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
   
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [33]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
9,Acarau,BR,83.84,-2.8856,-40.1200,castelo pizzaria
13,Galle,LK,81.91,6.0367,80.2170,Amangalla
18,Puerto Madero,MX,87.49,14.7208,-92.4215,DEPARTAMENTOS LA ESTANCIA
22,Vaini,TO,77.16,-21.2000,-175.2000,Keleti Beach Resort
25,Bathsheba,BB,84.81,13.2167,-59.5167,Atlantis Hotel
27,Yaan,NG,89.62,7.3833,8.5667,
28,Rikitea,PF,78.22,-23.1203,-134.9692,People ThankYou
31,Cockburn Town,TC,80.56,21.4612,-71.1419,Osprey Beach Hotel
32,Butaritari,KI,81.32,3.0707,172.7902,Isles Sunset Lodge
37,Riyadh,SA,82.54,24.6877,46.7219,"InterContinental Riyadh, an IHG Hotel"

In [34]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [36]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))